body{
background:linear-gradient(#FFFFFF,#382429);
height: 100vh;
}
.main-container{
width:100%;
}
img{
margin: 0px 0px 0px 90px;
}
h3{
    color:#0F205C;
    /* font-family: Arial; */
    font-weight: bold;
    margin: -15px 0px 0px 180px;
    font-size:24px;
}
h4{
font-size:22px;
margin:25px 0px 0px 0px;
}

.Page-logo{
margin: 0px 0px 0px 20px;
}
h5{
font-size:22px;
margin: -35px 0px 0px 80px;
font-weight: bold;
color:#cc0000;
}
.sign-up-form{
margin: 0px 0px 0px 20px;
}
.forgot-password-form{
margin: 0px 0px 0px 20px;
}
.login-form{
margin: 0px 0px 0px 20px;
}

.logo{
display: inline-block;
vertical-align: middle;
}
.important:after{
content:" *";
color:red;

}
.important{
font-size:18px;
font-weight:700;
color:black;
}
i{
color:#cc0000;
font-size: 16px;
}
.fields{
width:250px;
height:45px;
border: outset;
border-radius:6px;
border-color: grey;
}
.login-button{
width:80px;
height:40px;
background:#0C3153;
border-radius:13px;
color: white;
font-weight: bold;
}

select{
width:250px;
height:45px;
border: outset;
border-radius:6px;
border-color: grey;
}

select option .main{
font-weight:bold;
}

.optional{
font-size:18px;
font-weight:bold;
color:black;
}
#otp-field{
width:120px;
height:40px;
border: outset;
border-radius:6px;
border-color: grey;
}
#generate-otp{
width:105px;
height:40px;
background:#0C3153;
border-radius:13px;
color: white;
font-weight: bold;
margin: -59px 0px 0px 140px;
}
#sign-up{
width:80px;
height:40px;
background:#0C3153;
border-radius:13px;
color: white;
font-weight: bold;
}
#submit{
width:80px;
height:40px;
background:#0C3153;
border-radius:13px;
color: white;
font-weight: bold;
}
a{
text-decoration: none;
color:black;
font-size:20px;
font-weight:bold;
}
.Page-logo i{
    font-size:40px;
    color:#2C679C;
}
.color-red{
    color:#990000;
}